# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# Expo
.expo/
.expo-shared/

# Node.js
node_modules/

# Builds
dist/
*.apk

# Environment files
.env
.env.local

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log*

# Others
*.keystore
